/* //this is used  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#root {
    /* display: flex;
    flex-flow: row nowrap; */
    /* justify-content: center; */
    width: 70%;
    /* border: 1px solid orange;    */
    background-color: white;
    padding: 0em 1.2em 0em 1.2em;
}









